.agenda-view {

  .item-container {
    display:inline-block;
  }

  .item:not(.item-divider) {
    height:200px;
    border-color: #4e8ef7;
    border-width:1px;
  }

  .item-content {
    display:block;
    width:100%;

    img {
      width:50px;
      margin-right:16px;
      display:block;
      float:left;
      border-radius:50%;
    }

    h2, p {
      white-space: normal;
    }
  }

  .item-balanced:last-child {
    margin-top:15px;
  }

}