<ion-view class="agenda-view">
  
  <!-- NAVBAR -->
  <ion-nav-title>
    Agenda
  </ion-nav-title>
  <!-- /NAVBAR -->
  
  <!-- CONTENT -->
  <ion-content>
    <ion-list>
      <div ng-repeat="(key, value) in vm.days">
        <ion-item class="item item-divider item-balanced">
          {{ key }}
        </ion-item>
        <ion-item ng-repeat="session in value | orderBy:'startTime' track by session.id" class="item item-icon-right item-avatar" ui-sref="tab.agenda.detail({'sessionId': session.id})">
          <img ng-src="{{session.speaker.photoUrl || 'img/ionic.png'}}">
          <h2>{{ session.title }} <span class=""> - zaal {{ session.location }}</span></h2>
          <p>{{ session.subTitle }}</p>
          <p>{{ session.startTime | date:'H:mm' }} - {{ session.endTime | date:'H:mm' }}</p>
          <i class="icon ion-chevron-right"></i>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
  <!-- /CONTENT -->

</ion-view>