<ion-view class="agenda-view">
  
  <!-- NAVBAR -->
  <ion-nav-title>
    Agenda
  </ion-nav-title>
  <!-- /NAVBAR -->
  
  <!-- CONTENT -->
  <ion-content>
    <ion-list>
      <div ng-repeat="(key, value) in vm.days">
        <ion-item class="item item-divider item-balanced">
          {{ key }}
        </ion-item>
        <div ng-repeat="session in value | orderBy:'startTime' track by session.id" class="col col-50 item-container">
          <div class="item" ui-sref="tab.agenda.detail({'sessionId': session.id})">
            <div class="item-content">
              <img ng-src="{{session.speaker.photoUrl || 'img/ionic.png'}}">
              <h2>{{ session.title }}</h2>
              <h2>zaal {{ session.location }}</h2>
            </div>
            <br/>
            <p>{{ session.subTitle }}</p>
            <p>{{ session.startTime | date:'H:mm' }} - {{ session.endTime | date:'H:mm' }}</p>
          </div>
        </div>
      </div>
    </ion-list>
  
  </ion-content>
  <!-- /CONTENT -->

</ion-view>
